// Variables

// Colors
$textColor: #ffffff;
$mainTheme: #000000;
$secondaryTheme: #54deac;
$secondaryHover: #b1f8dd;
$hover: #d49621;
$overlay: rgba(0, 0, 0, 0.8);

// Breakpoints
$tablet: 540;
$desktop: 820;
$desktopWide: 1000;