.movies-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    margin: 1rem;
}

.movie-poster {
    width: 300px;
    height: 450px;
}

.movie-poster img {
    max-width: 100%;
    max-height: 100%;
}

.movie-info {
    max-width: 100%;
}

.result-card {
    margin: 1rem;
}

.result-poster {
    width: 300px;
    height:450px;
}

.result-poster img {
    max-width: 100%;
    max-height: 100%;   
}